<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir tickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <label for="">Aqui puedes añadir nuevos boletos</label>
    <br><br>

    <input type="hidden" id="raffleID" value="<%- raffleID -%>">
    <input type="hidden" id="userID" value="<%- user.id -%>">
    <input type="hidden" id="maxTickets" value="<%- totalTickets -%>">

    <label for="">Nombre: </label>
    <label for=""><%- user.username -%></label>
    
    <br><br>
    <label for="">Apellidos: </label>
    <label for=""><%- user.lastname -%></label>
    
    <br><br>
    <label for="">Correo: </label>
    <label for=""><%- user.email -%></label>

    <br><br>
    <label for="">Telefono: </label>
    <label for=""><%- user.phone -%></label>

    <br><br>
    <label for="">Estado de la republica: </label>
    <label for=""><%- user.state -%></label>

    <br><br>
    <label for="">Sus comprados</label>
    <span class="badge rounded-pill bg-success">Boleto Comprado</span>
    <span class="badge rounded-pill bg-danger">Boleto Pendietes</span>
    <br><br>
        <% user.tickets.forEach((ticket) => { %>
            <% if(ticket.status === 'Comprado'){ %>
            <span class="badge rounded-pill bg-success"><%= ticket.ticket %></span>
            <% } if(ticket.status === 'Pendiente'){ %>
                <span class="badge rounded-pill bg-danger"><%= ticket.ticket %></span>
                <% }  %>
        <% }) %>

    <br><br>
    <label for="">Solo se puede añadir boletos no superiores a <%- totalTickets -%></label>
    
    <input type="button" class="btn btn-success" id="newTicket" value="+"/>

    <div class="row" id="tickets">
    </div>


    <input type="button" class="btn btn-primary" id="saveTickets" value="Añadir"/>
    <!-- <input type="button" id="" class="btn btn-info" value="Añadir"> -->
        


<script src="js/request.js"></script>
</body>
</html>