<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ('partials/head') -%>
        <title>Sorteos</title>
        <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="../css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('partials/sidebar') -%>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include ('partials/topbar') -%>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">General información</h1>
                            </div>
                            <div class="row">

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Fecha de la rifa</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        <%- raffle.date -%>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                        Precio por boleto</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">$
                                                        <%- raffle.price_by_ticket -%>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Earnings (Monthly) Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-info shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Venta de boletos
                                                    </div>
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col-auto">
                                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                                <%-porcent-%>%</div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="progress progress-sm mr-2">
                                                                <div class="progress-bar bg-info" role="progressbar" style="width: <%-porcent-%>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Pending Requests Card Example -->
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-danger shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                                        Eliminar</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                        <%- raffle.name -%>
                                                    </div>
                                                </div>
                                                <div class="col-auto">
                                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <i class="fas fas fa-trash fa-2x text-gray-300"></i>
                                                      </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Seguro que quires eliminar
                                                                        <%-raffle.name-%>
                                                                    </h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Esta acción es irreversible, por lo que los datos ya no se podran recuperar.
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                    <a href="/eliminar-rifa?idRaffle=<%= raffle._id %>" class="btn btn-danger">Eliminar</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-8 col-lg-7">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3 ">
                                            <h6 class="m-0 font-weight-bold text-primary">
                                                Nombre:
                                                <%- raffle.name -%>
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Descripción</th>
                                                            <th>Total de boletos</th>
                                                            <th>Premio</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <%- raffle._id -%>
                                                            </td>
                                                            <td>
                                                                <%- raffle.desc -%>
                                                            </td>
                                                            <td>
                                                                <%- raffle.total_tickets -%>
                                                            </td>
                                                            <td>
                                                                <%- raffle.reward -%>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!---->
                                <div class="col-xl-8 col-lg-7">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3 ">
                                            <h6 class="m-0 font-weight-bold text-primary">
                                                Usuarios que han comprado boletos
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Nombre</th>
                                                            <th>Estado</th>
                                                            <th>Correo</th>
                                                            <th>Teléfono</th>
                                                            <th>Boletos</th>
                                                            <th>Nuevo boleto</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% JSON.parse(raffle.users).forEach((user) => { %>
                                                            <tr>
                                                                <td>
                                                                    <%= user.id %>
                                                                </td>
                                                                <td>
                                                                    <%= user.username %>
                                                                    <%= user.lastname %>
                                                                </td>
                                                                <td>
                                                                    <%= user.state %>
                                                                </td>
                                                                <td>
                                                                    <%= user.email %>
                                                                </td>
                                                                <td>
                                                                    <%= user.phone %>
                                                                </td>
                                                                <td>
                                                                    <%= user.tickets %>
                                                                    <span class="badge rounded-pill bg-success">1</span>
                                                                    <span class="badge rounded-pill bg-danger">15</span>
                                                                </td>
                                                                <td>
                                                                    <a href=""><i class="far fa-edit"></i></a>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <div class="col-xl-4 col-lg-5">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Comprar boleto solo de 1 -
                                                <%- raffle.total_tickets -%>
                                            </h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="pt-4 pb-2">
                                                <% if(message != '' && message != 'Boleto comprado'){ %>
                                                    <div class="form-group">
                                                        <div class="">
                                                            <div class="card border-left-warning shadow h-100 py-2">
                                                                <div class="card-body">
                                                                    <div class="row no-gutters align-items-center">
                                                                        <div class="col mr-2">
                                                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"> </div>
                                                                            <%-message-%>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <i class="fas fa-exclamation-triangle fa-2x text-yellow"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } if(message == 'Boleto comprado'){ %>
                                                        <div class="form-group">
                                                            <div class="">
                                                                <div class="card border-left-success shadow h-100 py-2">
                                                                    <div class="card-body">
                                                                        <div class="row no-gutters align-items-center">
                                                                            <div class="col mr-2">
                                                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1"> </div>
                                                                                <%-message-%>
                                                                            </div>
                                                                            <div class="col-auto">
                                                                                <i class="far fa-check-circle fa-2x text-green"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }  %>
                                                            <form class="user" action="/actualizar-rifa" method="post">
                                                                <div class="form-group">
                                                                    <input required type="number" name="nticket" class="form-control form-control-user" placeholder="Número de boleto">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input required type="text" name="username" class="form-control form-control-user" placeholder="Nombre">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input required type="text" name="lastname" class="form-control form-control-user" placeholder="Apellidos">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input required type="email" name="email" class="form-control form-control-user" placeholder="Correo">
                                                                </div>

                                                                <div class="form-group">
                                                                    <input required type="text" name="phone" class="form-control form-control-user" placeholder="Teléfono">
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="form-floating">
                                                                        <select name="state" id="floatingSelect" required class="form-select form-control form-control-user">
                                                                            <option value="Aguascalientes" selected>Aguascalientes</option>
                                                                            <option value="Baja California">Baja California</option>
                                                                            <option value="Baja California Sur">Baja California Sur</option>
                                                                            <option value="Campeche">Campeche</option>
                                                                            <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                                                                            <option value="Colima">Colima</option>
                                                                            <option value="Chiapas">Chiapas</option>
                                                                            <option value="Chihuahua">Chihuahua</option>
                                                                            <option value="Distrito Federal">Distrito Federal</option>
                                                                            <option value="Durango">Durango</option>
                                                                            <option value="Guanajuato">Guanajuato</option>
                                                                            <option value="Guerrero">Guerrero</option>
                                                                            <option value="Hidalgo">Hidalgo</option>
                                                                            <option value="Jalisco">Jalisco</option>
                                                                            <option value="México">México</option>
                                                                            <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                                                                            <option value="Morelos">Morelos</option>
                                                                            <option value="Nayarit">Nayarit</option>
                                                                            <option value="Nuevo León">Nuevo León</option>
                                                                            <option value="Oaxaca">Oaxaca</option>
                                                                            <option value="Puebla">Puebla</option>
                                                                            <option value="Querétaro">Querétaro</option>
                                                                            <option value="Quintana Roo">Quintana Roo</option>
                                                                            <option value="San Luis Potosí">San Luis Potosí</option>
                                                                            <option value="Sinaloa">Sinaloa</option>
                                                                            <option value="Sonora">Sonora</option>
                                                                            <option value="Tabasco">Tabasco</option>
                                                                            <option value="Tamaulipas">Tamaulipas</option>
                                                                            <option value="Tlaxcala">Tlaxcala</option>
                                                                            <option value="Veracruz de Ignacio de la Llave">Veracruz de Ignacio de la Llave	</option>
                                                                            <option value="Yucatán">Yucatán</option>
                                                                            <option value="Zacatecas">Zacatecas</option>
                                                                          </select>
                                                                          <label for="floatingSelect">Estados de la república</label>
                                                                    </div>
                                                                </div>

                                                                <input type="hidden" name="idRaffle" value="<%-raffle._id-%>">

                                                                <div class="form-group">
                                                                    <input type="submit" value="Comprar" class="btn btn-success btn-user btn-block">
                                                                </div>
                                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                            </div>

                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <%- include ('partials/footer') -%>
                    <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


</body>

</html>