<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ('partials/head') -%>
        <title>Sorteos</title>
        <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="../css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('partials/sidebar') -%>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include ('partials/topbar') -%>
                        <!-- End of Topbar -->

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Rifas</h1>
                            </div>
                            <div class="row">

                                <div class="col-xl-8 col-lg-7">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3 ">
                                            <h6 class="m-0 font-weight-bold text-primary">Informacion general de las rifas</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre</th>
                                                            <th>Descripción</th>
                                                            <th>Boletos vendidos</th>
                                                            <th>Fecha del sorteo</th>
                                                            <th>Más info.</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% raffles.forEach(function(raffle) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= raffle.name %>
                                                                </td>
                                                                <td>
                                                                    <%= raffle.desc %>
                                                                </td>
                                                                <td>
                                                                    <!-- 
                                                                       
                                                                    -->
                                                                </td>
                                                                <td>
                                                                    <%= raffle.date %>
                                                                </td>
                                                                <td><a href="/sorteo?idRaffle=<%= raffle._id %>"><i class="far fa-share-square"></i></a></td>
                                                            </tr>
                                                            <% }) %>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Pie Chart -->
                                <div class="col-xl-4 col-lg-5">
                                    <div class="card shadow mb-4">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Nueva rifa</h6>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="pt-4 pb-2">
                                                <form class="user" action="/addraffle" method="post">
                                                    <div class="form-group">
                                                        <input id="name" type="text" name="name" class="form-control form-control-user" placeholder="Nombre para la rifa">
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="desc" type="text" name="desc" class="form-control form-control-user" placeholder="Descripción (opcional)">
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="total_tickets" type="number" name="total_tickets" class="form-control form-control-user" placeholder="Número de boletos">
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="price_by_ticket" type="number" name="price_by_ticket" class="form-control form-control-user" placeholder="Precio por boleto">
                                                    </div>
                                                    <div class="form-group">
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="reward" type="text" name="reward" class="form-control form-control-user" placeholder="Premio para la rifa">
                                                    </div>
                                                    <div class="form-group">
                                                        <input id="date" type="date" name="date" class="form-control form-control-user" placeholder="fecha para la rifa">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Guardar" class="btn btn-success btn-user btn-block">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <%- include ('partials/footer') -%>
                    <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/chart-area-demo.js"></script>
    <script src="../js/demo/chart-pie-demo.js"></script>

</body>

</html>